*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
}
#navbar {
  background-color: #333;
  background-image: linear-gradient(to bottom, #333, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #ff0;
}

#nav-list {
  display: flex;
}
#nav-list li {
  list-style: none;
  margin: 1.5rem;
}

#welcome-section {
  background-color: #333;
  background-image: linear-gradient(to bottom right, #333, #000);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#welcome-section h1 {
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
  font-size: 80px;
}

#welcome-section p {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  font-style: italic;
}
#toolkit {
  height: 100vh;
  background-color: #333;
  background-image: linear-gradient(to top right, #333, #000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#toolkit ul {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#toolkit ul li {
  list-style: none;
  font-size: 40px;
  border: 3px solid purple;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#toolkit ul li:hover {
  border: 3px solid white;
  color: purple;
  background-color: #fff;
}
#toolkit h2 {
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
  border-bottom: 1px solid #fff;
}
@media (max-width: 860px) {
  #welcome-section h1 {
    font-size: 40px;
  }
  #welcome-section p {
    font-size: 20px;
  }
}
